<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>GSO - DPJW Schüleraustausch</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style type="text/css">
        #app {
            display: flex;
            justify-content: center;
        }

        body {
            background: #e4e3e3;
        }

        .container {
            background: white !important;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="container mt-3 mb-3">
            <div id="header mb-5">
                <div class="row">
                    <div class="col-12 mb-3" style="background-color: #5b9bd5;">
                        &nbsp;<br>&nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-center">
                        <a href="https://www.gso-koeln.de/" target="_blank"><img src="GSO_neu.png" alt="My Image"
                                height="100" /></a>
                    </div>
                    <div class="col-6 text-center">
                        <a href="https://dpjw.org/" target="_blank"><img src="dpjw.svg" alt="My Image" /></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <a href="#">Informationen</a> | <a href="#">Anmeldung</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 mb-4">
                    <form class="row g-3">
                        <div class="col-md-6">
                            <label for="formularInformation.Name" class="form-label">Name</label>
                            <input v-model="formularInformation.Name" type="text" class="form-control"
                                id="formularInformation.Name">
                        </div>
                        <div class="col-md-6">
                            <label for="formularInformation.Vorname" class="form-label">Vorname</label>
                            <input v-model="formularInformation.Vorname" type="text" class="form-control"
                                id="formularInformation.Vorname">
                        </div>
                        <div class="col-md-6">
                            <label for="formularInformation.Geburtsdatum" class="form-label">Geburtsdatum</label>
                            <input v-model="formularInformation.Geburtsdatum" type="text" class="form-control"
                                id="formularInformation.Geburtsdatum">
                        </div>
                        <div class="col-md-6">
                            <label for="formularInformation.Straße" class="form-label">Straße</label>
                            <input v-model="formularInformation.Straße" type="text" class="form-control"
                                id="formularInformation.Straße">
                        </div>
                        <div class="col-md-6">
                            <label for="formularInformation.Hausnummer" class="form-label">Hausnummer</label>
                            <input v-model="formularInformation.Hausnummer" type="text" class="form-control"
                                id="formularInformation.Hausnummer">
                        </div>
                        <div class="col-md-6">
                            <label for="formularInformation.Posleitzahl" class="form-label">Postleitzahl</label>
                            <input v-model="formularInformation.Posleitzahl" type="text" class="form-control"
                                id="formularInformation.Posleitzahl">
                        </div>
                        <div class="col-md-6">
                            <label for="formularInformation.Wohnort" class="form-label">Wohnort</label>
                            <input v-model="formularInformation.Wohnort" type="text" class="form-control"
                                id="formularInformation.Wohnort">
                        </div>
                        <div class="col-md-6">
                            <label for="formularInformation.Mobilfunknummer" class="form-label">Mobilfunknummer</label>
                            <input v-model="formularInformation.Mobilfunknummer" type="text" class="form-control"
                                id="formularInformation.Mobilfunknummer">
                        </div>
                        <div class="col-md-6">
                            <label for="formularInformation.Email" class="form-label">E-Mail</label>
                            <input v-model="formularInformation.Email" type="email" class="form-control"
                                id="formularInformation.Email">
                        </div>
                        <div class="col-md-6">
                            <label for="formularInformation.Klasse" class="form-label">Klasse</label>
                            <input v-model="formularInformation.Klasse" type="text" class="form-control"
                                id="formularInformation.Klasse">
                        </div>
                        <div class="col-md-6">
                            <label for="formularInformation.BesondereErnährung" class="form-label">Besondere
                                Ernährung</label>
                            <input v-model="formularInformation.BesondereErnährung" type="text" class="form-control"
                                id="formularInformation.BesondereErnährung">
                        </div>
                        <div class="col-md-6">
                            <label for="formularInformation.KörperlicheBeeinträchtigungen"
                                class="form-label">Körperliche Beeinträchtigungen</label>
                            <input v-model="formularInformation.KörperlicheBeeinträchtigungen" type="text"
                                class="form-control" id="formularInformation.KörperlicheBeeinträchtigungen">
                        </div>
                        <div class="col-md-6">
                            <label for="formularInformation.Ansprechpartner" class="form-label">Ansprechpartner bei
                                Unfällen</label>

                            <label for="formularInformation.AnsprechpartnerName" class="form-label">Name</label>
                            <input v-model="formularInformation.AnsprechpartnerName" type="text" class="form-control"
                                id="formularInformation.AnsprechpartnerName">

                            <label for="formularInformation.AnsprechpartnerMobilfunknummer"
                                class="form-label">Mobilfunknummer</label>
                            <input v-model="formularInformation.AnsprechpartnerMobilfunknummer" type="text"
                                class="form-control" id="formularInformation.AnsprechpartnerMobilfunknummer">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Formular Abschicken</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            formularInformation: {
                Name: '',
                Vorname: '',
                GeburtsDatum: '',
                Straße: '',
                Hausnummer: '',
                Postleitzahl: '',
                Wohnort: '',
                Mobilfunknummer: '',
                Email: '',
                Klasse: '',
                Klassenlehrer: '',
                BesondereErnährung: '',
                KörperlicheBeeinträchtigungen: '',
                AnsprechpartnerName: '',
                AnsprechpartnerMobilfunknummer: '',
            }

        },
        methods: {
            sendData: function () {
                console.log(this.formularInformation);
                axios.post("/formular", this.formularInformation);
            }
        }
    })
</script>

</html>