<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>GSO - DPJW Schüleraustausch</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style type="text/css">
        #app {
            display: flex;
            justify-content: center;
        }

        body {
            background: #e4e3e3;
        }

        .container {
            background: white !important;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="container mt-3 mb-3">
            <div id="header mb-5">
                <div class="row">
                    <div class="col-12 mb-3" style="background-color: #5b9bd5;">
                        &nbsp;<br>&nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-center">
                        <a href="https://www.gso-koeln.de/" target="_blank"><img src="GSO_neu.png" alt="My Image"
                                height="100" /></a>
                    </div>
                    <div class="col-6 text-center">
                        <a href="https://dpjw.org/" target="_blank"><img src="dpjw.svg" alt="My Image" /></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <a href="#">Informationen</a> | <a href="#">Anmeldung</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row mt-3">
                <div class="col-2"></div>
                <div id="formData" class="col-8 mb-4">
                    <div class="alert alert-primary" role="alert">
                        Hier können sich Schüler für das Austauschprogramm anmelden.
                      </div>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="formularInformation.Name" class="form-label">Name</label>
                            <input v-model="formularInformation.name" type="text" class="form-control"
                                   id="formularInformation.Name" placeholder="Nachname" required>
                        </div>
                        <div class="col-md-6">
                            <label for="formularInformation.Vorname" class="form-label">Vorname</label>
                            <input v-model="formularInformation.surName" type="text" class="form-control"
                                   id="formularInformation.Vorname" placeholder="Vorname" required>
                        </div>
                        <div class="col-md-6">
                            <label for="formularInformation.Geburtsdatum" class="form-label">Geburtsdatum</label>
                            <input v-model="formularInformation.age" v-on:blur="checkIsLegalOfAge();" type="text" class="form-control"
                                id="formularInformation.Geburtsdatum" placeholder="01.01.1996" required>
                            <p style="color:red;">{{this.formularInformation.isOfLegalAge && this.formularInformation.age != '' ? '' : 'Du bist nicht volljährig.'}}</p>
                        </div>
                        <div class="col-md-6">
                            <label for="formularInformation.Straße" class="form-label">Straße und Hausnummer</label>
                            <input v-model="formularInformation.street" type="text" class="form-control"
                                   id="formularInformation.Straße" placeholder="Straße und Hausnummer" required>
                        </div>


                        <div class="col-md-6">
                            <label for="formularInformation.Posleitzahl" class="form-label">Wohnort und Postleitzahl</label>
                            <input v-model="formularInformation.city" type="text" class="form-control"
                                id="formularInformation.Posleitzahl" placeholder="Wohnort und Postleitzahl" required>
                        </div>
                        <div class="col-md-6">
                            <label for="formularInformation.Mobilfunknummer" class="form-label">Mobilfunknummer</label>
                            <input v-model="formularInformation.number" type="text" class="form-control"
                                   id="formularInformation.Mobilfunknummer" placeholder="Mobilfunknummer beginnend mit +49" required>
                        </div>
                        <div class="col-md-6">
                            <label for="formularInformation.Email" class="form-label">E-Mail</label>
                            <input v-model="formularInformation.emailAddress" type="email" class="form-control"
                                   id="formularInformation.Email" placeholder="E-Mail Adresse" required>
                        </div>
                        <div class="col-md-6">
                            <label for="formularInformation.Klasse" class="form-label">Klasse</label>
                            <input v-model="formularInformation.grade" type="text" class="form-control"
                                   id="formularInformation.Klasse" placeholder="Klasse des Schülers" required>
                        </div>

                        <div class="col-md-6">
                            <label for="formularInformation.Klassenlehrer" class="form-label">Klassenlehrer</label>
                            <input v-model="formularInformation.gradeTeacher" type="text" class="form-control"
                                   id="formularInformation.Klassenlehrer" placeholder="Klassenlehrer" required>
                        </div>
                        <br>
                        <div class="col-md-6">
                            <label for="formularInformation.BesondereErnährung" class="form-label">Besondere
                                Ernährung</label>
                            <textarea v-model="formularInformation.specialNutrition" type="text" class="form-control"
                                      id="formularInformation.BesondereErnährung" placeholder="Vegan/Vegetarier"></textarea>
                        </div>
                        <div class="col-md-6">
                            <label for="formularInformation.KörperlicheBeeinträchtigungen"
                                class="form-label">Körperliche Beeinträchtigungen</label>
                            <textarea v-model="formularInformation.physicalImpairment" type="text"
                                      class="form-control" id="formularInformation.KörperlicheBeeinträchtigungen" placeholder="Krankheiten etc."></textarea>
                        </div>
                        <div class="col-md-6">
                            <label for="formularInformation.AnsprechpartnerName" class="form-label"><b>Ansprechpartner bei
                                Unfällen</b></label>
                                <br>

                            <label for="formularInformation.AnsprechpartnerName" class="form-label">Vorname Nachname</label>
                            <input v-model="formularInformation.emergencyPerson" type="text" class="form-control"
                                   id="formularInformation.AnsprechpartnerName" placeholder="Person bei Notfall zu informieren" required>

                            <label for="formularInformation.AnsprechpartnerMobilfunknummer"
                                class="form-label">Mobilfunknummer</label>
                            <input v-model="formularInformation.emergencyNumber" type="text"
                                   class="form-control" id="formularInformation.AnsprechpartnerMobilfunknummer" placeholder="Mobilfunknummer beginnen mit +49" required>
                        </div>
                        <div class="col-12">
                            <button v-on:click="sendData();" class="btn btn-primary" id="formular">Schüler anmelden</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            formularInformation: {
                surName: '',
                name: '',
                age: '',
                street: '',
                city: '',
                number: '',
                emailAddress: '',
                grade: '',
                gradeTeacher: '',
                specialNutrition: '',
                physicalImpairment: '',
                emergencyPerson: '',
                emergencyNumber: '',
                status: false,
                isOfLegalAge: false
            }
        },
        methods: {
            sendData: function () {
                console.log(this.formularInformation);
                axios.post("/formular", this.formularInformation);
            },
            checkIsLegalOfAge: function (){
                var today = new Date();
                var birthDate = new Date(this.formularInformation.age);
                if(isNaN(birthDate)){
                    console.log("format ist falsch");
                }
                else{
                    if(((today - birthDate) / 31536000000) > 18){
                        this.formularInformation.isOfLegalAge = true;
                    }else{
                        this.formularInformation.isOfLegalAge = false;
                    }
                }
            }
        }
    })
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="functions.js"></script>
</html>
